/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Custom color theme properties */
:root {
  --f7-theme-color: #3392b8;
  --f7-theme-color-rgb: 51, 146, 184;
  --f7-theme-color-shade: #2a7998;
  --f7-theme-color-tint: #48a6cc;
}

/* Your app custom styles here */

[emit=qr]
{
	font-size: 38px;
}

#pedir ul,
#pedir
{
	background: #BBECFF;
	margin-top: 0px;
}



#pedir .item-inner
{
	margin-bottom: 16px;
}

#pedirInput
{
	font-size: 28px;
	text-align: center;
	margin-bottom: 8px;
}

#pedirButton
{
	padding-left: 32px;
	padding-right: 32px;
}

